{% extends 'bootstrap/base.html' %} {% import "bootstrap/wtf.html" as wtf %}

{%block content %}
<div class="post">
  <h5 class="title">{{ post.user }}</h5>
  <table class="table table-hover">
    <td width="50px">
      <img src="{{ url_for('static', filename='default.jpg')}}" />
    </td>
    <td>
      <p class="text">
        {% autoescape off %}
        {{ post.message }}
        {% endautoescape %}
      </p>
    </td>
  </table>
</div>
{% endblock %}
