{% extends 'bootstrap/base.html' %} {% import "bootstrap/wtf.html" as wtf %}


{%block styles %} {{ super() }}
<style>
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #fafafa;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 100px;
  }

  .container {
    margin: 0 auto;
    max-width: 600px;
  }

  .textarea {
    resize: none;
  }

  .post {
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.1),
      0px 2px 4px rgba(60, 60, 60, 0.1);
    border-radius: 4px;
    padding: 40px;
    margin: 20px 0;
  }

  .post p {
    display: flex;
    align-items: center;
  }

  .post img {
    height: 40px;
    width: 40px;
  }
</style>
{% endblock %} 


{%block title %} DOM Based XSS {% endblock %} 


{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">DOM Based XSS</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('bulletin') }}">Bulletin</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}


{% block content %}
<div id="main-heading" class="container">
  <div class="row">
    <div
      class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto"
      style="position: relative; top: 100px"
    >
      <h1>Bulletin</h1>
      <h3>Vulnerability - Stored DOM Based XSS</h3>
      <br />
      {{ wtf.quick_form(form) }}
      <br />
    </div>
  </div>
</div>
<br />
<br />
<br />
<hr />
<br />
<div class="container" id="container">
  {% for post in posts %}
  {% include '_post.html' %} 
  {% endfor %}
</div>
{% endblock %}