{% extends 'bootstrap/base.html' %} {% import "bootstrap/wtf.html" as wtf %}


{%block title %} DOM Based XSS {% endblock %}


{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">DOM Based XSS</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('bulletin') }}">Bulletin</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}