{% extends 'bootstrap/base.html' %} {% import "bootstrap/wtf.html" as wtf %}


{%block title %} DOM Based XSS {% endblock %}


{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">DOM Based XSS</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('bulletin') }}">Bulletin</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}


{% block content %}
<div id="main-heading" class="container">
  <div class="row">
    <div
      class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto"
      style="position: relative; top: 100px"
    >
      <script>
        // Vulnerability
        var pos = document.URL.indexOf("name=") + 5;
        document.write(
          "<h1>Welcome " +
            decodeURIComponent(
              document.URL.substring(pos, document.URL.length)
            ) +
            "</h1>"
        );
      </script>
      <h3>Vulnerability - Reflected DOM Based XSS</h3>
    </div>
  </div>
</div>
{% endblock %}